.link-download-show-elementos {
    font-size: 1.3em;
    vertical-align: middle;
    padding: 0 4px;
    color: #000;
}

.lista-show-elementos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-show-elementos li {
    font-size: 1.1em;
    margin-bottom: 4px;
}

.lista-show-elementos li i {
    font-size: 1.3em;
    vertical-align: middle;
    padding: 0 4px;
    color: #000;
}

.dashboard-card {
    width: auto;
    height: 120px;
    padding: 20px 0px;
}


/* DASHBOARD */

.dashboard-body {
    min-height: 60vh;
    padding: 30px;
}

.dashboard-card-perfil {
    background: rgba(66, 133, 244, 0.7);
}

.dashboard-card i {
    font-size: 30px;
    margin-bottom: 5px;
}

.dashboard-card-projetos {
    background: rgba(15, 157, 88, 0.7);
}

.dashboard-card-mapas-interativos {
    background: rgba(244, 180, 0, 0.7);
}

.dashboard-card-consumo-dados {
    background: rgba(219, 68, 55, 0.7);
}
